#login-form {
    display: block;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #10203a;
    padding: 50px 150px;
    border-radius: 15px;
}

#login-form p:first-child{
    display: block;
    font-size: 32px;
    text-align: center;
    color: white;
    font-family: "Montserrat-Regular";
}

#login-form input {
    margin-top: 1.5rem;
    display: block;
    border: 1px solid #303030;
    width: 100%;
    padding: 12px 7px;
    font-size: 16px;
    color: #303030;
    font-family: "Montserrat-Regular";
}

#login-form button {
    display: block;
    width: 100%;
    padding: 12px 0;
    margin-top: 2rem;
    font-size: 16px;
    color: white;
    background: #00b894;
    font-family: "Montserrat-Bold";
}

#login-form a {
    display: block;
    margin-top: 1rem;
    text-align: center;
    color: #0984e3;
    font-family: "Montserrat-Regular";
}

#login-form a:hover {
    text-decoration: underline;
}

p{

    margin-top: 25px;
    font-size: 16px;
    color: white;
    font-family: "Montserrat-Regular";
}

p span{
    color: red;
}